*{
    box-sizing:border-box;  
      padding: 0px;
    margin: 0px;

}
.flex{
   /* display: flex; */
   border:  1px  solid red ;
   /* flex-wrap:  wrap; */
    /* justify-content: center;  */
   justify-content: space-around;  
   /* justify-content: space-between; */
   /* justify-content: space-evenly; */
    /* justify-content: flex-end; */
   /* flex-direction: column; */
    /* flex-direction: row; */
   

}
p{
    width: max-content;
}
.one{
    
    border: 2px solid blue;
    align-self: flex-start;
    
}
.two{
    
    border: 2px solid blue;
}
.three{
    
    border: 2px solid blue;
}